<div class="container d-flex overflow-hidden rounded py-4">
  <%= render "products/show_product_card", product: @product %>
  <%= render "bookings/show_product_booking_details", product: @product %>
</div>
<%= render "products/acc_card", product: @product %>
