<div class="container rounded">
      <div class="card rounded shadow col-5 p-3 w-100">
        <h3 class="py-2 fw-bold text-center">Book this bike?</h3>
        <div class="px-3">
          <%= render "bookings/form", { booking: @booking, product: @product } %>
        </div>
      </div>
</div>
