<div class="container d-flex overflow-hidden rounded pt-4">
  <%= render "products/show_product_card", product: @product %>
  <%= render "products/show_product_booking_form", product: @product %>
</div>
